/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 800px) {
 .ARTBOARD {
	margin: 0 auto;
	width:95%;
	height:100%;
	background-color:#FFFFFF;
	border-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #7E7E7E;
	overflow: hidden;
	vertical-align:top;
	padding:10px;
	text-align: left;
 }
 .SALON{
	float:left; 
	margin-right: 10px;
	width:200px;
	height:300px;
	display:block;
	position:relative;
 } 
 .FLOAT{
 	width:200px;
	position:fixed;
 }
 .NAV {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	line-height: 9pt;
	color: #2B60DE;
 }
 .HEADERTEXT{
  font-size: 24pt;
  font-weight: bold;
  text-decoration: none;
 }
 .LOGIN{
   float:right;
   width:20%;
 }
}
 
/* Mobile devices------------------- */
@media only screen
and (max-width : 800px) {
	.ARTBOARD {
	margin: 0 auto;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	border-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	/*border-style: solid;*/
	border-color: #7E7E7E;
	overflow: hidden;
	vertical-align:top;
	padding:10px;
	text-align: left;
 }  
 .SALON{
	float: none; 
 }
 .FLOAT{
 	float: none;
 } 
 .NAV {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	line-height: 20pt;
	color: #2B60DE;
 } 
 .HEADERTEXT{
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
 }
 .LOGIN{
 }
}

/* Generic ---------------------- */
.CERT {
	float:right;	
	font-size:x-small;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.NAV a:link, .NAV a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #15317E;
	text-decoration:none;
 }

.NAV a:hover {
	text-decoration: underline;
	color: #15317E;
}

.CONTENT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
	color: #3E3E3E;
	overflow: hidden;
	margin-bottom: 10px;
  min-height: 600px;
}

.CONTENT a:link, .CONTENT a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #15317E;
	line-height: 10pt;
	text-decoration: none;
}

.CONTENT a:hover {
	text-decoration: underline;
	color: #15317E;
}

.HEADER {
	text-align:center;
	display: block;
}

.HEADERLEFT
{
	width: 20%;
	height: 100%;
	float: left;
	max-height: 40px;
}

.HEADERIMAGE
{
  max-width: 100%;
  max-height: inherit;
  height: auto;
  width: auto;
}

.HEADERCENTER
{
  font-family: Arial, Helvetica, sans-serif;
  color: #15317e;
  text-align: center;
  height: 40px;
}

.HEADERRIGHT
{
	width: 20%;
	float: right;
}

.TITLE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	line-height: 18pt;
	color: #3E3E3E;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 18pt;
	color: #800000;  
}

.SUBTITLE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 18pt;
	color: #800000;
	/*clear: both;*/
}

.SUBSUBTITLE {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  line-height: 18pt;
  color: #800000;
  /*clear: both;*/
}


.SUBTITLE a:link, .SUBTITLE a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 18pt;
	color: #800000;
}

.TITLEGROUP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 18pt;
        padding-bottom: 5px;
	color: #15317e;
}

.TITLEGROUP a:link, .TITLEGROUP a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 18pt;
  padding-bottom: 5px;
	color: #15317e;
}

.IMAGECANVAS{
  text-align: center;
}

.IMAGE{
	max-width: 600px;
	width: 100%
}

.TINYIMAGE{
  max-width: 100px;
  width: 100%
}

.SMALLIMAGE{
  max-width: 200px;
  width: 100%
}

.IMAGESMALL{
  max-width: 200px;
  width: 100%
}

.IMAGEMEDIUM{
  max-width: 400px;
  width: 100%
}

.MEDIUMIMAGE{
  max-width: 400px;
  width: 100%
}

.LARGEIMAGE{
  max-width: 600px;
  width: 100%
}

.IMAGEE{
  max-width: 800px;
  width: 100%
}

.IMAGEW600{
  max-width: 600px;
  width: 100%
}

.IMAGERIGHT2{
  position:absolute;
  right:10%;
}

.IMAGERIGHT{
  float:right;
  margin-left:20px;
  clear:right;
}

.ZOOM{
  transition: transform .2s; /* Animation */
}

.ZOOM:hover{
   transform: scale(2.0);
}

BODY
{
	/*background: #ECECEC url("images/backgroundGray.jpg") repeat-x fixed bottom;*/
	background-color: #ECECEC;
	margin: 20px 20px 0px 0px;
}




 
#NAVBAR
{
clear: both;
padding-top: 5px;
padding-bottom: 5px;
background-color:#F3F3F3;
border-color: #E2E2E2;
border-bottom: 1px dotted #2B60DE;
border-top: 1px dotted #2B60DE;
vertical-align:top;
text-align: left;
margin-bottom: 10px;
margin-top: 10px;
} 
.PADDED {
	margin-left: 10px;
	margin-right: 10px;
}
.ALTROW {
	background-color: #F3F3F3;
}

#NAVBAR a
{
margin-left:10px;
margin-right:10px;
}



.SALON_RIGHT {
	float:right;
	margin-left: 10px;
	margin-right: 2px;
}
.CAPTION_RIGHT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #3e3e3e;
	background-position: right;
}
.LOCATION {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #3e3e3e;
	background-position: left;
}


.FOOTER {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #3e3e3e;
	background-position: left;
	min-height: 15px;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#F3F3F3;
	border-color: #E2E2E2;
	border-bottom: 1px dotted #2B60DE;
	border-top: 1px dotted #2B60DE;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}

.FOOTER a:link, .FOOTER a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	line-height: 9pt;
	color: #15317E;
	text-decoration:none;
}

.FOOTER a:hover {
text-decoration: underline;
color: #15317E;
}

.FOOTERELEMENT {
	float: left;	
	margin-left:4px;
}

.ANNOUNCE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #3e3e3e;
	background-position: left;
}
.PBAR {
	text-decoration: overline;
}
#BAR {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#F3F3F3;
	border-color: #E2E2E2;
	border-bottom: 1px dotted #2B60DE;
	border-top: 1px dotted #2B60DE;
	vertical-align:top;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}
#BAR a {
	margin-left:20px;
	margin-right:20px;
}

#BARSUB a:link, #BARSUB a:visited {
	margin-left:40px;
	margin-right:40px;
	text-align: left;
	color: #4863A0;
}

#BAR2 {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#F3F3F3;
	border-color: #E2E2E2;
	border-bottom: 1px dotted #2B60DE;
	border-top: 1px dotted #2B60DE;
	vertical-align:top;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

#BAR3 {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#F3F3F3;
	border-color: #E2E2E2;
	border-bottom: 1px dotted #2B60DE;
	border-top: 1px dotted #2B60DE;
	vertical-align:top;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

input.button {
	color: #15317e; 
	font-size: 10pt;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18pt;
	border: none;
    	background: no-repeat top left;
    	padding: 2px 15px;
}


#list
{
    margin-top: 0.5em;
    padding: 1.25em 1em 0.25em 1em;
    background: #ffffff;
}

#list table
{       width: 100%;
        margin-bottom: 1.5em;
}

#list table th
{
    background: #41627E;
    text-align:center;
    padding:0 0 0 10px;
    color:#FFF;
    font-family: Arial, verdana;
    line-height: 30px;
    font-size:14px;
    font-weight:bold;
}

#list table th a
{
    float: right;
}

#list table td
{
    padding: 0.5em;
}

#list table tr.rowA
{
    background-color: #efefef;
    color: inherit;
}

#list table tr.rowB
{
    background-color: #fafafa;
    color: inherit;
}



/* pager wrapper, div */
.tablesorter-pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
  background-color: #e6eeee;
  margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.tablesorter-pager img {
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  margin: 0;
  padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}