table.SimpleCalendar {
  font-family: Arial;
  border-collapse: collapse; 
}
table.SimpleCalendar th {
    background: #C9E9F0;
    color: #0092B4;
    font-size: 12px;
    padding: 3px;
    border: 1px solid #bbb;
    border-top: none; 
}
table.SimpleCalendar tbody td {
    vertical-align: top;
    min-width: 120px;
    height: 50px;
    border: 1px solid #bbb;
    background: #e6e6e6; 
}
table.SimpleCalendar tbody td time {
      font-size: 1em;
      display: block;
      background: white;
      padding: 2px;
      text-align: right;
      font-weight: bold; 
}
table.SimpleCalendar tbody td.SCsuffix, table.SimpleCalendar tbody td.SCprefix {
      background: white; 
}
table.SimpleCalendar tbody td div.event {
      color: #355;
      font-size: .85em;
      padding: 5px;
      line-height: 1em;
      border-bottom: 1px solid #bbb;
      background: #F3F3F3;
      color: white; 
}
table.SimpleCalendar tbody td.today {
    /*background: #d2d2d2;*/
    background: #dad55e;
}
table.SimpleCalendar tbody td.today time{
    background: #fffa90; 
}